* {
  font-family: 'Lustria';
  margin: 0;
        padding: 0;
        border: 0;
}
body {
    width: 100%;
    margin: auto;
    font-family: 'Lustria';
    background-color: #FDFDFD;
    text-align: center;
}
.nav-bar-container {
  background-color: #3D405B;
}
.nav-bar-container h1{
  color: #FDFDFD;
  padding: .25em;
  text-align: left;
}
.content-container {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: large;
  background-color:#f4f1de;
  border-radius: 10px;
  width: 80%;
  display: inline-block;
  margin-top: 2em;
  max-height: 5em;
}
.content-container h1 {
  text-align: left;
  font-size: 1em;
}
.drop-down {
  text-align: center;
  width: 25%;
  font-size: .8em;
  min-height: 12em;
  margin-top: .5em;
  margin-bottom: .5em;
}
.dd-button {
  background-color: #F2CC8F;
  color: #000;
  text-align: left;
  padding: 4px;
  width: 100%;
  border-radius: 10px;
}
.dd-button h2 {
  text-decoration: none;
  font-weight: 100;
  padding: .25em;
  font-size: 1.1em;
}
.dd-options {
  display: none;
  width: 95%;
  border-radius: 0px 0px 10px 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #F1D7B1;
  text-align: left;
}
.dd-options a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dd-options a {
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dd-options a:hover {
  background-color: #F2CC8F;
}
.dd-default:hover {
  background-color: #f5e5cd !important;
}
.opened .dd-options{
  display: inline-block;
}
.drop-down:hover .dd-button {
  background-color: #d8b379;
}
.dd-default {
  background-color: #f5e5cd;
}
.opened .dd-button{
  background-color: #d8b379;
}