* {
  margin: 0;
        padding: 0;
        border: 0;
}
body {
    max-width: 800px;
    margin: auto;
    font-family: 'Lustria';
    background-color: #FDFDFD;
  }
  .nav-bar-container {
    background-color: #3D405B;
  }
  .nav-bar-container h1{
    color: #FDFDFD;
    padding: .25em;
  }
.content-container {
  padding: 2em;
  font-size: large;
}
.drop-down {
  width: 30%;
  padding: 2em;
}
.drop-down .button{
  background-color: #F2CC8F;
  border-radius: 5px;
  width: 100%;
}
.drop-down option {
  background-color: #F1D7B1;
}
.select.dd-option:hover {
  box-shadow: 0 0 10px 100px #000 inset;
}