<div class="drop-down">
  <select class="button" onchange={{action "setSelection" value="target.value"}}>
  <option class="default" disabled selected>{{@default}}</option>
      {{yield (hash
        option=(component 'drop-down-option')
      )}}
  </select>
</div>
