<div id="myDropdown" class="dropdown-content">
    {{yield}}
    {{#each @options as |choice|}}
    <DropDownOption>
        {{choice}}
    </DropDownOption>
    {{/each}}
    <DropDownOption @href="#home">Home</DropDownOption>
    <DropDownOption @href="#about">About</DropDownOption>
    <DropDownOption @href="#home">Contact</DropDownOption>
  </div>