<NavBar></NavBar>
<div class="content-container">
    <h1>Recipient Information</h1>
    <p>Who is your emails directed towards? Include their information here.</p>
    <DropDown @default="Title" as |dd|>
        <dd.option @value="Mrs"></dd.option>
        <dd.option @value="Ms"></dd.option>
        <dd.option @value="Mr"></dd.option>
        <dd.option @value="Doctor"></dd.option>
        <dd.option @value="Professor"></dd.option>
    </DropDown>
    <Input id="site" type="text" class="text-input grid-area: row12;" @value="Name"/>
    <Input id="site" type="text" class="text-input grid-area: row21;" @value="Email"/>
</div>
<div class="content-container">
    <h1>Sender Information</h1>
</div>
{{outlet}}
