<NavBar></NavBar>
<div class="content-container">
    <DropDown @default="Title" as |dd|>
        <dd.option @value="Dr"></dd.option>
        <dd.option @value="Professor"></dd.option>
    </DropDown>
</div>
{{outlet}}
